.project-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-inner {
  position: relative;
  padding: 2rem;
  background-color: #fff;
  border-radius: 25px;
}
.projects-box {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 4rem;
  grid-column-gap: 50px;
}
.projects-animated {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 300px;
  display: flex;
  row-gap: 50px;
}
.projects-animated__picture {
}
.projects-animated__box {
  padding-bottom: 6rem;
}
.text-wrapper {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  background: #fbfdffe1;
  font-size: 1;
}
.title-wrapper {
  justify-content: 'center';
  align-items: 'center';
  text-align: 'center';
  width: 1;
  height: '100%';
}

@media screen and (max-width: 800px) {
  .section-inner {
    padding-left: 1rem;
    max-width: 90%;
    line-height: 1.4;
    border-radius: 25px;
  }
  .skills .section-inner {
    padding-left: 3rem;
  }
}
