.secondary-section {
  padding: 2rem;
  padding-left: 8rem;
  margin: auto;
}
.section-inner {
  position: relative;
  padding: 2rem;
  background-color: #fff;
  border-radius: 25px;
}
.checkmark {
  color: rgba(23, 184, 23, 0.685);
  margin-left: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.skill-list {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.skill-item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: #575851;
  color: white;
  text-align: center;
  align-content: center;
  padding-bottom: 1.2rem;
  margin-top: 1.2rem;
  height: 80px;
}

.checkmark {
  padding-top: 1.2rem;
}

@media screen and (max-width: 800px) {
  .section-inner {
    padding-left: 1rem;
    max-width: 90%;
    line-height: 1.4;
    border-radius: 25px;
  }
  .skills .section-inner {
    padding-left: 3rem;
  }
  .secondary-section {
    margin-left: 3rem;
    max-width: 60%;
    padding: 1rem;
  }
  .secondary-section .contact {
    text-align: center;
  }
  .section-inner {
    padding-left: 1rem;
    max-width: 90%;
    line-height: 1.4;
    border-radius: 25px;
  }
}
