.about-section {
  align-content: center;
}
.home-section h3 {
  text-align: center;
}
.about-section-inner {
  width: 40%;
  padding-left: 2rem;
}
@media screen and (max-width: 800px) {
  .home-section {
    width: 100vw;
  }

  .home-section h2 {
    margin-botton: 1.5rem;
    text-align: left;
  }

  .home-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
